body {
	padding-top: 5px;
	height: 100%;
  }

h1 {
	margin-bottom: -5px;
}

ul li {
	list-style: none;
	display: inline;
	padding-right: 30px;
}

/*
form {
	font-size: 10px;
}
*/

  .theme-dropdown .dropdown-menu {
	position: static;
	display: block;
	margin-bottom: 20px;
  }

  .theme-showcase > p > .btn {
	margin: 5px 0;
  }

  .theme-showcase .navbar .container {
	width: auto;
  }

  .jumbotron {
	padding-top: 50px;
	padding-bottom: 20px;
  }

.header {
	position: float;
	text-align: center;
}

  .footer {
    position: float;
		height: 150px;
		bottom: 0;
		padding: 30px 0px 0px 0px;
    width: 100%;
		background-color: black;
		text-align: center;
}

.searchbar {
	width: 100%;
	background-color: black;
}

.smalltext {
	font-size: 8pt;
	color: white;
	display: inline;
}

.popup {
	font-size: 8pt;
	color: white;
	text-align: right;
	margin-top: -50px;
	padding-right: 30px;
}

.fakehyperlink {
	color: #4678b2;
	text-decoration: underline;
}

/* Style all font social buttons */
.fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
}

/* Set a specific color for each social button */

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}

.fa-instagram {
	background: #125688;
	color: white;
}

.fa-shopping-cart {
color: #696969;
border: none;
padding: 12px 16px;
font-size: 16px;
cursor: pointer;
}
